@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 970px;
}

.container {
    width: 350px;
    height: 920px;
    background: linear-gradient(45deg, #0a9a9f, #4699ed);
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

i.nav-icon {
    color: #f7f2f7;
    font-size: 1.5em;
    cursor: pointer;
}


span.heading {
    font-size: 2em;
    color: #f7f2f7;
    font-weight: 900;
    letter-spacing: 2px;
}

span.sub-heading {
    color: #f7f2f7;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 1px;
}

div.menu {
    background: #162037;
    color: #585F8B;
    border-radius: 10px;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}

span.active {
    background: linear-gradient(to right, #0a9a9f, #fe6f22);
    border-radius: 10px;
    color: #fff0ff;
    margin: 5px;
}

span.filter {
    border-radius: 10px;
    background: #162037;
    color: #585F8B;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}



span.filter-active {
    color: #fff0ff;
}

span.chattime-label {
    color: #fff0ff;
    position: relative;
    text-align: right;
    font-size: 12px;
}

span.chatroom-label {
    color: #FFF0FF;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
}

span.text-label {
    color: #FFF0FF;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
}

span.space-label {
    color: #FFF0FF;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 16px;
}


div.event-bg {
    background: #162037;
    border-radius: 25px;
}

.see-more-btn {
    background: #162037;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
}

.see-more-btn:hover {
    background: linear-gradient(to right, #03c0c7, #fe6f22);
}

a {
    text-decoration: none;
    color: #fff;
}